---
import Layout from "../layouts/Layout.astro";
import { aboutContent } from "../context/index.js";
import { paragraphContent } from "../context/index.js";
---

<Layout>
  <section class="flex justify-center  lg:max-w-7xl mx-auto space-y-12 lg:space-y-0  ">
    <!-- Main Flex Container -->
    <div class="flex flex-col md:top-36 relative lg:left-0 left-5">
      <div class="hidden md:flex absolute">
        <img
          class="lg:h-[88px] h-16 top-3 left-10 relative lg:left-28"
          src="/about/sCar.png"
          alt="sCar"
        />
        <img
          class="h-[88px] relative bottom-2 left-24 md:left-12 lg:left-24"
          src="/about/EllipseImg.png"
          alt="EllipseImg"
        />
        <div class="relative flex md:gap-10 lg:gap-20 top-10 md:left-24 lg:left-36">
          {Array(5).fill("").map((_) => <p class="text-gray-300">{paragraphContent}</p>)}
        </div>
      </div>

      <!-- About Section -->
      <div class="flex flex-col md:pr-16 py-20 lg:pl-20">
        <div class="hidden lg:flex max-w-5xl">
          <img class="" src="/about/bigLine.png" alt="bigLine" />
        </div>
        <div class="hidden md:flex lg:hidden max-w-2xl">
          <img src="/about/bigLine.png" alt="bigLine" />
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-center  lg:space-x-20">
        <!-- Left Column:About Text main  -->
        <div class="md:space-y-16 space-y-10 flex flex-col relative bottom-20 md:bottom-0">
          <div class=" hidden lg:flex ">
            <h1
              class=" xl:-ml-[4.5rem]  lg:text-[105px] lg-xl:text-[153.85px] font-happy font-semibold text-white"
            >
              ABOUT
            </h1>
          </div>
            <!-- Left Column:About Text for sm screen -->
          <div class="flex lg:hidden relative  md:right-10  ">
            <h1
              class="text-5xl md:text-8xl  font-happy font-semibold text-white"
            >
              ABOUT
            </h1>
          </div>

          <!-- Text Blocks with Responsive Widths -->
          <div class="space-y-8">
            <div class="md:pr-28 lg:pl-20">
              <img class="pb-2" src="/about/line2.png" alt="line2" />
              <h2 class="text-lg md:text-xl lg:text-2xl font-semibold text-white mb-6">
                Our Vision
              </h2>
              {
                aboutContent.vision.map((paragraph) => (
                  <p class="text-gray-300 mb-5 text-sm s w-52 md:w-64 font-happy lg:w-80 leading-tight">{paragraph}</p>
                ))
              }
              {
                aboutContent.vision2.map((paragraph2) => (
                  <p class="text-gray-300 font-happy mb-5 text-sm w-52 md:w-64 lg:w-80 leading-tight">{paragraph2}</p>
                ))
              }

              <div class="pt-10">
                <img class="pb-2" src="/about/line2.png" alt="line2" />
                <h2 class="text-lg md:text-xl lg:text-2xl font-semibold text-white mb-6">
                  Our Mission
                </h2>
                {
                  aboutContent.mission.map((paragraph3) => (
                    <p class="text-gray-300  font-happy text-sm md:w-64 lg:w-80 w-52 leading-tight">
                      {paragraph3}
                    </p>
                  ))
                }
              </div>
            </div>
          </div>
        </div>

        <!-- Right Column with Images -->
        <div class="flex flex-col items-center  space-y-5 md:pr-0 relative md:top-16 lg:top-0 ">
          <!-- Circle  -->
          <div class="relative  lg:left-5">
            <div
              class="w-24 right-12 md:right-16 md:w-40 h-24 md:h-40 lg:h-52 lg:w-52 rounded-full bg-[#995BD9] relative top-12 md:top-28 lg:top-40 lg:right-24"
            />
            <div class="absolute top-12 md:top-28 lg:top-40 right-0">
              <div
                class="w-24 md:w-40 h-24 md:h-40 lg:h-52 lg:w-52 rounded-full border-2 border-white flex justify-center items-center"
              >
                <div class="absolute h-full w-full flex items-center justify-center">
                  <!-- Center Image -->
                  <div
                    class="absolute w-12 h-12 lg:h-[73.62px] lg:w-[73.62px] md:w-16 md:h-16 rounded-full bg-green-500 flex items-center justify-center top-1/2 md:top-[85px] lg:top-32 lg:left-28 left-12 md:left-[105px] transform -translate-x-1/2 -translate-y-1/2 z-20"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Car Image Section -->
          <div class="flex z-30 select-none relative bottom-28">
            <img
              src="/about/bigCar.png"
              alt="bigCar Image"
              class="max-w-sm md:max-w-md h-40 md:h-60 lg:h-80"
            />
          </div>

          <div
            class="flex flex-col md:items-end relative bottom-28 select-none lg:left-28 md:left-20 left-14"
          >
            <img class="object-cover w-20 pb-2" src="/about/line2.png" alt="line2" />
            <h2 class="text-base md:text-xl lg:text-2xl font-semibold text-white mb-4 md:text-center">
              Our Drivers
            </h2>
          </div>

          <!-- memory Images Section -->
          <div class="flex flex-col relative bottom-36 md:bottom-20">
            <div class="flex justify-between gap-4 md:gap-10 lg-xl:gap-20">
              <img src="/about/bigFrame.png" alt="Driver 1" class="w-20 lg:w-[150.98px] md:w-28" />
              <img
                src="/about/bigFrame.png"
                alt="Driver 2"
                class="w-20 md:w-28 lg:w-[150.98px] relative top-6 md:top-16"
              />
            </div>
            <div class="flex justify-between relative gap-4 md:gap-10 left-1 md:left-5">
              <img
                src="/about/bigFrame.png"
                alt="Driver 3"
                class="w-20 md:w-28 lg:w-[150.98px] relative top-6 md:top-10"
              />
              <img
                src="/about/bigFrame.png"
                alt="Driver 4"
                class="w-20 md:w-28 lg:w-[150.98px] relative top-10 md:top-28"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>