---
import Layout from "../layouts/Layout.astro";
---


<Layout title="merchStore">
  <h1 class="text-2xl text-white font-bold mb-4">Our merchStore</h1>
  <p class="text-lg text-white">Explore our range of merchStore...</p>
</Layout>
