---
import Layout from "../layouts/Layout.astro";
---

<Layout title="merchStore">
  <h1 class="mb-4 text-2xl font-bold text-white">
    Our merchStore
  </h1>
  <p class="text-lg text-white">
    Explore our range of merchStore...
  </p>
</Layout>
