---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Services">
  <h1 class="mb-4 text-2xl font-bold text-white">
    Our Services
  </h1>
  <p class="text-lg text-white">
    Explore our range of services...
  </p>
</Layout>
