<section class="flex flex-col items-center justify-center py-20 bg-white">
  {/*  Top Image (Mobile)  */}
  <div class="pl-56">
    <div class="relative w-20 h-[95px] rotate-12">
      <img
        src="/Vector 2.png"
        alt="Top Image"
        class="object-cover w-full h-full rounded-full"
      />
    </div>
  </div>

  {/*  Heading  */}
  <div class="text-center px-6 lg:px-24 mt-6">
    <h1
      class="text-3xl leading-tight lg:text-6xl font-medium text-[#2C0059] mb-4"
    >
      We are a bunch of autists building freedom technology
    </h1>

    <p class="text-lg text-gray-500 max-w-lg mx-auto">
      We build tools for your freedom. Bitcoin and Nostr (and potentially other
      open protocols) can allow you to be a sovereign individual if you want to
      be one. We are developing free and open-source software that makes it
      easier for you to utilize these tools.
    </p>
  </div>

  {/* Buttons  */}
  <div class="mt-6 flex space-x-4">
    {/* Bottom Image (Mobile)  */}
    <div class="relative w-48 h-48 mt-6 rotate-12">
      <img
        src="/Vector 1.png"
        alt="Bottom Image"
        class="object-cover w-full h-full rounded-full"
      />
    </div>
    <div class="w-20">
      <a
        href="https://discord.com"
        class="px-6 h-10 text-white bg-[#2C0059] rounded-full hover:bg-purple-800"
      >
        Github
      </a>
    </div>

    <div class="w-20">
      <a
        href="https://github.com "
        class="px-6 py-3 text-white bg-[#2C0059] w- rounded-full hover:bg-purple-800"
      >
        Discord
      </a>
    </div>
  </div>

  {/* Desktop Images (side images on larger screens)  */}
  <div class="hidden md:flex justify-between items-center w-full mt-12">
    <div class="relative w-48 h-48 rotate-6">
      <img
        src="/path-to-your-image1.jpg"
        alt="Left Image"
        class="object-cover w-full h-full rounded-full"
      />
    </div>
    <div class="relative w-48 h-48 rotate-12">
      <img
        src="/path-to-your-image2.jpg"
        alt="Right Image"
        class="object-cover w-full h-full rounded-full"
      />
    </div>
  </div>
</section>;
