<section
  class="hidden flex-col overflow-hidden bg-[#151217] pb-20 md:flex"
>
  <div
    class="mb:flex-row flex items-center justify-center space-y-10 pb-28 text-white md:pt-32 lg:max-h-fit lg:-space-x-11 lg:space-y-0 lg:pt-28"
  >
    <!-- Circles Container -->
    <div class="flex md:relative md:pt-10 lg:pb-10 lg:pt-0">
      <!-- Outer Pink Circle -->
      <div
        class="h-32 w-32 rounded-full bg-[#995BD9] md:absolute md:left-8 md:h-56 md:w-56 lg:left-0 lg:h-60 lg:w-60"
      >
      </div>

      <!-- Inner Circle with "HIRE US" Labels -->
      <div>
        <div
          class="z-10 mx-auto flex h-32 w-32 items-center justify-center rounded-full border-2 border-white md:relative md:left-28 md:h-56 md:w-56 lg:h-60 lg:w-60"
        >
          <div class="flex items-center justify-center">
            <!-- Rotating "HIRE US" Labels around the circle -->
            <div
              class="absolute flex h-full w-full items-center justify-center"
            >
              <span
                id="1"
                class="absolute text-white md:top-0 md:-rotate-[5deg] md:pr-2 md:pt-2 lg:left-20 lg:top-2 lg:-rotate-[8deg] lg:pr-5 lg:pt-0"
                >HIRE US</span
              >
              <span
                id="2"
                class="absolute pr-1 text-white md:bottom-28 md:right-5 md:rotate-[64deg] md:pb-8 lg:bottom-40 lg:right-[10%] lg:rotate-[50deg] lg:pb-3"
                >HIRE US</span
              >
              <span
                id="3"
                class="absolute right-0 text-white md:bottom-12 md:-rotate-[60deg] md:pb-3 lg:bottom-[5.5rem] lg:-rotate-[80deg]"
                >HIRE US</span
              >
              <span
                id="4"
                class="absolute right-8 text-white md:bottom-3 md:-rotate-[5deg] md:pr-10 lg:bottom-8 lg:-rotate-[38deg] lg:pr-3"
                >HIRE US</span
              >
              <span
                id="5"
                class="absolute bottom-5 left-14 text-white md:hidden lg:bottom-5 lg:flex lg:rotate-[22deg]"
                >HIRE US</span
              >

              <span
                id="6"
                class="absolute left-0 text-white md:bottom-9 md:rotate-[60deg] md:pb-6 lg:bottom-[4rem] lg:rotate-[65deg] lg:pb-3"
                >HIRE US</span
              >
              <span
                id="7"
                class="absolute left-[1%] -rotate-[58deg] text-white md:top-8 md:-rotate-[65deg] md:pb-5 md:pr-10 lg:top-[20%] lg:pb-0 lg:pr-6"
                >HIRE US</span
              >

              <div
                class="absolute left-1/2 top-1/2 z-20 flex h-20 w-20 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-green-500"
              >
                <img
                  src="/heroImg/eye.png"
                  alt="Eye Image"
                  class="rounded-full object-cover pt-2"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Text Section -->
    <div
      class="relative top-48 flex flex-col text-center md:top-0 md:max-w-6xl md:justify-center md:pl-44 md:text-left lg:max-w-7xl lg:pl-0 lg:text-left"
    >
      <div class="flex pl-5 lg:pl-72">
        <h1 class="font-xl mb-4 md:text-3xl lg:text-5xl">
          <div class="flex flex-col leading-tight">
            PRIVACY-FOCUSED,<br />
            SELF-SOVEREIGNTY<br />
            SOFTWARE DEVELOPERS
          </div>
        </h1>
        <div
          class="absolute md:pl-72 lg:pl-[28rem] lg:pt-10"
        >
          <img
            class="h-16 w-16 object-cover"
            src="/heroImg/wings.png"
            alt="wings"
          />
        </div>
      </div>
      <div class="pt-12 md:pl-6 lg:pl-72">
        <img
          class="w-52"
          src="/heroImg/line.png"
          alt="line"
        />
      </div>
      <div class="pt-6 md:pl-20 lg:ml-8 lg:flex lg:pl-96">
        <p class="max-w-lg text-sm font-normal">
          Cryptography and FOSS are the two primary tools of
          ours. We are utilizing<br /> Bitcoin (not crypto),
          and nostr among other things to achieve our goals.
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-center md:h-60 lg:h-96">
    <div class="relative md:max-w-3xl lg:max-w-5xl">
      <!-- Box Image -->
      <div class="md:max-w-2xl lg:max-w-4xl">
        <img src="/heroImg/box.png" alt="box" />
      </div>

      <!-- Spiral Image Positioned to the Right -->
      <div
        class="absolute top-1/2 translate-x-96 transform md:-translate-y-36 md:pl-64 lg:-translate-y-56 lg:pl-[30rem]"
      >
        <img
          class="h-18 w-16 lg:h-32 lg:w-20"
          src="/heroImg/spiral.png"
          alt="spiral"
        />
      </div>
    </div>
  </div>
</section>

<!-- For Mobile Screens (it is a temporary) -->
<div
  class="relative z-10 block w-full overflow-hidden md:hidden"
>
  <div
    class="flex flex-col items-center justify-center space-y-6 bg-[#151217] py-10 text-white"
  >
    <div class="relative z-20">
      <!-- Circles Container -->
      <div class="flex">
        <!-- Outer Pink Circle -->
        <div
          class="left-2 h-24 w-24 rounded-full bg-[#995BD9]"
        >
        </div>

        <!-- Inner Circle with "HIRE US" Labels -->
        <div class="relative z-30">
          <div
            class="mx-auto flex h-24 w-24 items-center justify-center rounded-full border-2 border-white"
          >
            <div
              class="absolute flex h-full w-full items-center justify-center"
            >
              <!-- Center Image -->
              <div
                class="absolute left-1/2 top-1/2 z-20 flex h-12 w-12 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-green-500"
              >
                <img
                  src="/heroImg/eye.png"
                  alt="Eye Image"
                  class="rounded-full object-cover"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Text Section -->
    <div class="max-w-xs px-4 text-center">
      <h1 class="text-xl font-normal leading-tight">
        PRIVACY-FOCUSED,<br />
        SELF-SOVEREIGNTY<br />
        SOFTWARE DEVELOPERS
      </h1>
      <div class="py-4">
        <img
          src="/heroImg/wings.png"
          alt="wings"
          class="mx-auto h-12 w-12"
        />
      </div>
      <div class="pt-4">
        <img
          src="/heroImg/line.png"
          alt="line"
          class="w-full"
        />
      </div>
      <div class="pt-4 text-sm font-normal">
        Cryptography and FOSS are the two primary tools of
        ours. We are utilizing Bitcoin (not crypto!) to
        achieve our goals.
      </div>
    </div>
  </div>

  <div class="relative flex justify-center py-8">
    <div class="w-11/12">
      <img
        src="/heroImg/box.png"
        alt="box"
        class="w-full"
      />
    </div>
  </div>
</div>
