<section class="flex flex-col items-center justify-center bg-white">
  {/* This picture belong to pc screen  */}

  <div
    class="hidden md:flex md:w-full lg:max-w-8xl rotate-6 pb-4 justify-center"
  >
    <div class="md:pl-[28rem] lg:pl-[35rem] lg:w-auto select-none">
      <img
        src="/hero-img/Vector 3.png"
        alt="Left Image"
        class="rounded-b-full md:h-14 lg:h-16 w-auto"
      />
    </div>
  </div>

  <div
    class="md:flex mt-5 w-full lg:max-w-7xl lg:gap-10 md:justify-center lg:px-40"
  >
    {/* This Heading belong to pc screen  */}
    <div class="md:max-w-xl lg:flex lg:max-w-7xl mr-8">
      <h1
        class="hidden md:grid mb-6 text-center text-5xl lg:text-5xl font-normal text-[#2C0059] ml-10 lg:tracking-wider"
      >
        We are a bunch of autists building freedom technology
      </h1>
    </div>
    {/* This picture belong to pc screen  */}
    <div class="hidden md:mx-7 md:grid rotate-3 select-none">
      <div class="lg:pl-6">
        <img
          src="/hero-img/Vector 2.png"
          alt="Top Image"
          class="md:w-48 lg:w-96 rounded-full"
        />
      </div>
    </div>

    <!-- MOBILE SECTION  -->

    <!-- this picture belong to mobile screen -->
    <div class="pl-48 md:hidden select-none">
      <div class="md:hidden relative h-full rotate-12 pl-2">
        <img
          src="/hero-img/Vector 2.png"
          alt="Top Image"
          class="lg:w-72 h-36 rounded-full"
        />
      </div>
    </div>

    {/* This Heading belong to mobile screen  */}

    <h1
      class="md:hidden text-2xl pt-6 text-center grid w-auto font-medium text-[#2C0059] pb-5"
    >
      <span>We are a bunch of autists</span>
      <span>building freedom </span>
      <span>technology</span>
    </h1>
  </div>

  {/* This section belong to mobile screen and desktop screen  */}

  <div
    class="md:flex md:pt-[32rem] lg:pt-[30rem] md:absolute w-auto md:pr-20 select-none"
  >
    <div class="md:pt-8">
      <img
        src="/hero-img/Vector 1.png"
        alt="Bottom Image"
        class="md:object-cover md:flex md:w-52 lg:w-64 rounded-b-full hidden"
      />
    </div>

    <div
      class="hidden lg:flex md:flex md:pt-20 rotate-6 pb-4 md:pl-7 select-none"
    >
      <div class="lg:w-auto lg:pt-6 lg:pl-5">
        <img
          src="/hero-img/Vector 4.png"
          alt="Left Image"
          class="rounded-b-full md:w-14 lg:w-16 md:mr-5 mt-5"
        />
      </div>
    </div>

    {/* This paragraph belong to mobile screen and desktop screen  */}
    <div class="md:flex md:flex-col md:w-auto md:pt-32 lg:pt-36">
      <div
        class="text-center lg:pr-12 lg:px-16 md:w-96 md:h-32 lg:w-[35rem] lg:h-32"
      >
        <div
          class="max-w-7xl flex items-center mx-5 justify-center text-left w-auto"
        >
          <p class="text-sm text-[#827D88]">
            We build tools for your freedom. Bitcoin and <span class="underline"
              >Nostr</span
            > (and potentially other open protocols) can allow you to be a sovereign
            individual if you want to be one . We are developing free and open-source
            software that makes it easier for you to utilize these tools.
          </p>
        </div>
      </div>

      {/* Bottom Image  belong to mobile screen */}
      <div
        class="mt-6 flex items-center w-auto h-auto justify-center select-none"
      >
        <img
          src="/hero-img/Vector 1.png"
          alt="Bottom Image"
          class="w-36 h-full mt-5 -rotate-[28deg] pl-7 md:object-cover md:w-auto md:hidden"
        />
        {/* Buttons belong to bothe screen */}
        <div
          class="flex pb-24 mr-6 space-x-5 md:flex md:pl-5 lg:pr-48 select-none"
        >
          <div class="w-20">
            <a
              href="https://discord.com"
              class="px-5 py-2 text-white bg-[#2C0059] rounded-full hover:bg-purple-800 font-light"
            >
              Discord
            </a>
          </div>

          <div>
            <a
              href="https://github.com "
              class="px-6 py-2 text-white bg-[#2C0059] rounded-full hover:bg-purple-800 font-light"
            >
              Github
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
