---
import Navbar from "../components/Navbar";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>website</title>
  </head>
  <body class="bg-[#151217]">
    <header>
      <Navbar client:load />
    </header>
    <main>
      <slot />
    </main>
    <!-- <footer>
      <p>© 2024 My Astro Site. All rights reserved.</p>
    </footer> -->
  </body>
</html>
