---
import Navbar from "../components/Navbar";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>website</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="m-auto max-w-screen-xl bg-[#151217] text-justify"
  >
    <!-- Applying the font globally -->

    <header>
      <Navbar client:load />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
